body {
	background-color: #222222;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	padding: 8px;
	box-sizing: border-box;
	overflow: hidden;
}

main {
	flex: 1 1 auto;
}

#path {
	margin-block: 0.1em;
}

hr {
	width: 100%;
}

a {
	color: #e0e0e0;
	text-decoration: none;
}

#path a:hover,
footer a:hover {
	text-decoration: underline;
}

.code {
	font-family: monospace;
}

.text-html {
	color: lime;
}

table {
	width: 100%;
}

thead {
	font-weight: bold;
}

td, th {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#project-info {
	text-align: left;
}

#credits {
	text-align: center;
}

#commit {
	text-align: right;
}